---
layout: default
title: GitLab.com
---
<div id="content">
  <div class="container txt-lefty">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-md-offset-2">
        <p>Gitlab.com allows you to use GitLab without installing anything. To get a free account with unlimited private repositories and unlimited private collaborators please sign up now.
        <div class="button-holder">
          <a class="btn btn-info btn-lg" href="http://demo.gitlab.com/" onClick="_gaq.push(['_trackEvent', 'GitLab-com', 'Try GitLab', 'Try Demo']);">Try Demo</a>
          <a class="btn btn-success btn-lg" href="https://gitlab.com/users/sign_up" onClick="_gaq.push(['_trackEvent', 'GitLab-com', 'Try GitLab', 'Sign Up']);">Sign Up</a>
        </div><!-- button-holder -->
        <h2>Advantages</h2>
        <ul>
          <li>Unlimited repositories</li>
          <li>Unlimited private collaborators</li>
          <li>Unlimited disk space *</li>
          <li>Completely free, no credit card required</li>
          <li>Running <a title="Features" href="https://www.gitlab.com/gitlab-ee/">GitLab EE</a></li>
          <li>Monitored 24/7 (<a title="status" href="http://status.gitlab.com/">status page</a>)</li>
        </ul>
        <p><em>* For performance reasons there is a soft limit of 1GB per repository</em></p>
        <h2>Support package</h2>
        <p>
          Free subscribers can use the <a href="https://gitlab.com/gitlab-com/support-forum/issues">GitLab.com Support Forum</a> if they have questions.
          If you purchase <a href="https://gitlab.recurly.com/subscribe/gitlab-com-bronze-yearly-1">GitLab.com Bronze Support</a> you can email support directly for timely, personal and private answers.
          This costs $99 per year for one named contact and a next-business-day response time.
        </p>
        <h2>Exporting</h2>
        <p>
          GitLab.com does not currently allow you to easily export all your data to your own GitLab instance.
          Of course you can git clone the repositories and import them with <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/tasks/gitlab/import.rake">a rake task</a>.
          And since the wiki is backed by a git repo you can clone that as well.
          But these are manual actions and for the issues you'll have to use <a href="http://doc.gitlab.com/ce/api/issues.html">the issue API</a>.
          So if you plan on eventually using GitLab on your own server please consider doing so from the start.
          Of course we are <a href="http://feedback.gitlab.com/forums/176466-general/suggestions/4488044-add-import-export-functionality-for-projects">accepting merge requests to improve this situation</a>.
        </p>
        <h2>Security</h2>
        <p>
          The public key fingerprint of gitlab.com when you connect over ssh is:  f1:d0:fb:46:73:7a:70:92:5a:ab:5d:ef:43:e2:1c:35
        </p>
      </div>
    </div>
  </div>
</div>
