---
layout: default
title: Development
---
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <p>
        If you are missing some functionality in GitLab you can sponsor the development of it.
        <p>
        After you send in the form below we will check if the feature is acceptable to include in GitLab. If so we will first email back with a minimum cost estimate. This is to make sure the expectations of the work that is involved are realistic.
        <p>
        If the minimum estimate matches your expectations we will work on a detailed estimate. If you accept the detailed estimate we will give you an estimated release date and start the work.
        <p>
        We will inform you when the feature is ready and <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/a88225b7689ab87b49908db23e1bebf1c7ea09d3/CHANGELOG#L8">note your sponsorship in the Changelog</a> (unless you ask us not to, no problem). From then on your feature is a part of GitLab and will probably be maintained without any additional cost to you.
        <div class="action">
          <div id="wufoo-scvcb721qd692i">
            Please fill out our <a href="https://gitlab.wufoo.com/forms/scvcb721qd692i">online form</a>.
          </div>
          <script type="text/javascript">var scvcb721qd692i;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'gitlab',
          'formHash':'scvcb721qd692i',
          'autoResize':true,
          'height':'2207',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { scvcb721qd692i = new WufooForm();scvcb721qd692i.initialize(options);scvcb721qd692i.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
        </div>
      </div>
    </div>
  </div>
</div>
