---
layout: default
title: Omnibus package downloads for GitLab CE
extra_css:
  - downloads.css
extra_js:
  - downloads.js
platforms:
- name: ubuntu1204
  long_name: Ubuntu 12.04
  download_command: wget https://downloads-packages.s3.amazonaws.com/ubuntu-12.04/gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
  install_commands: |
                    sudo apt-get install openssh-server
                    sudo apt-get install postfix # Select 'Internet Site', using sendmail instead also works, exim has problems
                    sudo dpkg -i gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
- name: ubuntu1404
  long_name: Ubuntu 14.04
  download_command: wget https://downloads-packages.s3.amazonaws.com/ubuntu-14.04/gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
  install_commands: |
                    sudo apt-get install openssh-server
                    sudo apt-get install postfix # Select 'Internet Site', using sendmail instead also works, exim has problems
                    sudo dpkg -i gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
- name: debian7
  long_name: Debian 7
  download_command: wget https://downloads-packages.s3.amazonaws.com/debian-7.7/gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
  install_commands: |
                    sudo apt-get install openssh-server
                    sudo apt-get install postfix # Select 'Internet Site', using sendmail instead also works, exim has problems
                    sudo dpkg -i gitlab_7.6.2-omnibus.5.3.0.ci-1_amd64.deb
- name: centos6
  long_name: CentOS 6 (and RedHat/Oracle/Scientific Linux)
  download_command: curl -O https://downloads-packages.s3.amazonaws.com/centos-6.6/gitlab-7.6.2_omnibus.5.3.0.ci-1.el6.x86_64.rpm
  install_commands: |
                    sudo yum install openssh-server
                    sudo yum install postfix
                    sudo yum install cronie
                    sudo service postfix start
                    sudo chkconfig postfix on
                    sudo rpm -i gitlab-7.6.2_omnibus.5.3.0.ci-1.el6.x86_64.rpm
  post_reconfigure: sudo lokkit -s http -s ssh # open up the firewall for HTTP and SSH requests
- name: centos7
  long_name: CentOS 7 (and RedHat/Oracle/Scientific Linux)
  download_command: curl -O https://downloads-packages.s3.amazonaws.com/centos-7.0.1406/gitlab-7.6.2_omnibus.5.3.0.ci-1.el7.x86_64.rpm
  install_commands: |
                    sudo yum install openssh-server
                    sudo systemctl enable sshd
                    sudo systemctl start sshd
                    sudo yum install postfix
                    sudo systemctl enable postfix
                    sudo systemctl start postfix
                    sudo rpm -i gitlab-7.6.2_omnibus.5.3.0.ci-1.el7.x86_64.rpm
  post_reconfigure: |
                    sudo firewall-cmd --permanent --add-service=http # open up the firewall for HTTP and SSH requests
                    sudo systemctl reload firewalld
---
<div class="wrapper container">

  <div class="row graphic-menu">

    <div class="col-md-3 hidden-sm hidden-xs">
      <img src="/images/downloads/omnibus.gif" class="img-responsive pack-fox">
    </div>

    <div class="col-md-9">
      <div class="installation-instructions">

        <h1 class="heavy">I want to install GitLab on</h1>

        <!-- dropdown button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown" onClick="_gaq.push(['_trackEvent', 'Downloads', 'OS Select', 'Dropdown Open']);">
            Choose an OS <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
          {% for platform in page.platforms %}
            <li><a href="#{{platform.name}}" onClick="_gaq.push(['_trackEvent', 'Downloads', 'OS Select', '#{{platform.name}}']);">{{platform.long_name}}</a></li>
          {% endfor %}
          </ul>
        </div>
        <!-- / dropdown button -->

        <div id="tabs">
          {% for platform in page.platforms %}
          <div class="tab" id="{{platform.name}}">

            <div class="tab-step">
              <p>
                <i class="glyphicons-circle_info green"></i> Check if your server meets <a class="green" href="http://doc.gitlab.com/ce/install/requirements.html">the hardware requirements</a>
              </p>
            </div>
            <div class="tab-step">
              <p>Download the Omnibus package and install everything</p>
              <p>
              <pre>{{platform.download_command}}
{{platform.install_commands}}</pre>
              </p>
            </div>

            <div class="tab-step">
              <p>Configure and start GitLab</p>
              <p>
                <pre>sudo gitlab-ctl reconfigure
{{platform.post_reconfigure}}</pre>
              </p>
            </div>

            <div class="tab-step">
              <p>
                Browse to the hostname and login
                <br />
                Username: root
                <br />
                Password: 5iveL!fe
              </p>
            </div>
            <div class="tab-step">
              <p>
                <i class="glyphicons-circle_info green"></i> For troubleshooting and configuration options please see the <a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Omnibus GitLab readme</a>
              </p>
            </div>
            <div class="tab-step">
              <p>Tweet about it!</p>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://about.gitlab.com" data-text="I just installed Gitlab: open source software to collaborate on code. Check it out!" data-via="gitlabhq" data-size="large">Tweet about it!</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="other-downloads">
        <h3>Other links</h3>
        <h5><a href="archives/">All versions of the GitLab Community Edition Omnibus packages</a></h5>
        <h5><a href="https://gitlab.com/subscribers/gitlab-ee/blob/master/doc/install/packages.md">GitLab Enterprise Edition Omnibus packages (subscribers only)</a></h5>
        <h5><a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/update.md">Upgrade instructions for Omnibus packages</a></h5>
        <h5><a class="green" href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md">Troubleshooting and configuration options for Omnibus packages</a></h5>
        <h5><a href="/installation/">Alternative installation methods not using the Omnibus packages</a></h5>
      </div>
    </div>
  </div>
</div>
