---
title: Blog
layout: default
comments: false
suppress_header: true
extra_css:
  - blog.css
---

<div class="blog-index blog-entry">

  <div class="panel panel-default">
    <div class="panel-body">
      You can find the most recent GitLab news on <strong><a class="toplink" href="https://twitter.com/gitlab">Twitter</a></strong>
      <a href="/atom.xml"><button class="btn btn-default rss-button">RSS</button></a>
    </div>
  </div>

  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article class="">
      {% include article.html %}
    </article>
  {% endfor %}
  <p><h2>Latest blog posts</h2></p>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date:"%d %b %Y" }}</time>
      </li>
    {% endfor %}
  </ul>
  <p>&rarr; <a href="/blog/archives.html">Browse the archives</a></p>
</div>
</br>
