---
layout: default
title: Pricing
suppress_header: true
extra_css:
  - subscription.css
extra_js:
  - subscription.js
---

<div class="wrapper container-fluid">
  <div class="subs-header">
    <div class="title">
      Start scaling GitLab
    </div>
    <div class="subtitle">
      No hidden fees and 45-day money back guarantee
    </div>
  </div>

  <div class="subscriptions" id="subs">

    <div class="row">
      <div class="col-sm-4">
        <div class="basic subscription">
          <div class="header">
            Basic
            <div class="sub-header">
              GitLab for Small Enterprises
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>19.90
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user/year
              <br>
              in multiples of 20 users*
            </div>
          </div>
          <div class="details">
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Only subscribers are allowed to use Enterprise Edition. You will get access to the source code, modifications are permitted and you get access to all updates.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Access to GitLab EE
              </div>
            </div>
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Next-business day support
              </div>
            </div>
          </div>
          <a href="/subscription/basic" class="basic button" id="order-basic" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Basic']);">Get a basic subscription</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="standard subscription">
          <div class="header">
            standard
            <div class="sub-header">
              Highly available, All the time
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>49
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user/year
              <br>
              in multiples of 100 users*
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Everything from Basic
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Taking care of critical availability incidents, we aim for a 30 minute response time.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                24/7 Emergency Support
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We set-up an online meeting to help you install and configure the GitLab server.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body double">
                Live installation and configuration assistance
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We set-up an online meeting to help you upgrade the GitLab installation.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Live upgrade assistance
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="Configure and maintain GitLab in a highly available environment with multiple servers.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body double">
                High Availability configuration
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="You receive support for our continuous integration tool as well">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                GitLab CI Support
              </div>
            </div>
          </div>
          <a href="/subscription/standard" class="basic button" id="order-standard" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Standard']);">Get a standard subscription</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="plus subscription">
          <div class="header">
            Plus
            <div class="sub-header">
              Set the path for GitLab
            </div>
          </div>
          <div class="price">
            <div class="money">$</div>249
            <div class="subprice" data-toggle="tooltip" data-placement="left" title="A user is defined as an individual authorized by you to use an on-premise GitLab server.">
              per user/year
              <br>
              in multiples of 100 users*
            </div>
          </div>
          <div class="details">
            <div class="detail">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Everything from Standard
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="If there are features you would like to see that we both think belong in GitLab we'll prioritize them.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body double">
                Prioritize features important to you
              </div>
            </div>
            <div class="detail" data-toggle="tooltip" data-placement="left" title="We offer online workshops to your engineers for both Git and best practices when using GitLab.">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <div class="body">
                Best practices training
              </div>
            </div>
          </div>
          <a href="/subscription/plus" class="basic button" id="order-plus" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Subscription Select', 'Plus']);">Get a plus subscription</a>
        </div>
      </div>
    </div>

    <br>
    <p>
      * Students of educational institutions do not count towards the user count.
    </p>

    <div class="quote">
      <div class="quote-body">
        <a href="mailto:sales@gitlab.com" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Email for questions']);">Contact us</a> if you have any questions. If you want to pay by <b>bank</b> or need a quote please:
      </div>
      <a href="/subscription/form.html" class="quotation-btn" onclick="_gaq.push(['_trackEvent', 'Subscription', 'Request a Quotation']);">Request a quotation</a>
    </div>
  </div>

  <hr class='divider' id="gitlab-ce">

  <div class="container">
    <div class="gitlab-com row">
      <div class="small subs-header">
        <div class="title">
          GitLab Community Edition
        </div>
        <div class="subtitle">
          Free Open Source Software to collaborate better on code
        </div>
      </div>
      <div class="top-body">
        GitLab CE is completely free, open source software that make collaborating on code
        much better.

        <div class="list">
          <span class="glyphicon glyphicon-chevron-right"></span>
          Run it on your own server
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Free monthly updates
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Fully Open Source
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Easy to install Omnibus packages
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Built by a massive community
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Trusted by more than 100,000 organisations
        </div>

        <a href="/downloads/" class="btn btn-lg btn-default">Download</a>
        <a href="/features/" class="btn btn-lg btn-default">Features</a>
        <a href="https://gitlab.com/gitlab-org/gitlab-ce" class="btn btn-lg btn-default">Source Code</a>
      </div>
    </div>
  </div>

  <hr class='divider' id="gitlab-com">

  <div class="container">
    <div class="gitlab-com row">
      <div class="small subs-header">
        <div class="title">
          GitLab.com
        </div>
        <div class="subtitle">
          GitLab hosted by GitLab, for free
        </div>
      </div>
      <div class="top-body">
        GitLab.com allows you to use GitLab without installing anything.<br>
        It’s <b>free</b> and <b>unlimited</b>.

        <div class="list">
          <span class="glyphicon glyphicon-chevron-right"></span>
          Unlimited private and public repositories
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Unlimited private collaborators
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Completely free, no creditcard required
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Running GitLab Enterprise Edition*
          <br>
          <span class="glyphicon glyphicon-chevron-right"></span>
          Monitored 24/7
        </div>
        <small>* Git Hooks included, LDAP/JIRA/Jenkins integration not available</small>
      </div>

      <div class="row">
        <div class="col-sm-6 text-right">
          <div class="free com-sub">
            <div class="title">
              FREE
            </div>
            <div class="body">
              <b>Unlimited</b> private and public repositories
              <br>
              <b>Unlimited</b> private collaborators
              <br>
              Support via <a href="https://gitlab.com/gitlab-com/support-forum/issues">the forum</a>
              <br>
              <br>
              <b>Completely free</b>
              <br>
              <br>
              <a href="https://gitlab.com/users/sign_up" class="btn btn-md btn-default">Create an account</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <div class="support com-sub">
            <div class="title">
              +SUPPORT
            </div>
            <div class="body">
              <b>Unlimited</b> private and public repositories
              <br>
              <b>Unlimited</b> private collaborators
              <br>
              <b>Next-business day support</b>
              <br>
              <br>
              <b>$9.90 per per user/year in multiples of 20 users</b>
              <br>
              <br>
              <a href="https://gitlab.recurly.com/subscribe/gitlab-com-bronze-yearly-20" class="btn btn-md btn-default">Order support</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <hr class='divider'>

  <div class="container">
    <div class="row other-services" id="services">
      <div class="subs-header">
        <div class="title">
          Services
        </div>
        <div class="subtitle">
          Want us to help you with something else?
        </div>
      </div>
      <div class="col-sm-4">
        <a href="/consultancy">
          <img src="/images/icons/cons_icon.png" id="consultancy" class="gs">
          <h2>Consultancy</h2>
          <p>Upgrade or install GitLab.</p>
          <a href="/consultancy/" class="btn btn-md btn-default">Get a quote</a>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/development">
          <img src="/images/icons/dev_icon.png" id="development" class="gs">
          <h2>Development</h2>
          <p>Add a new feature to GitLab.</p>
          <a href="/development/" class="btn btn-md btn-default">Get a quote</a>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="/training">
          <img src="/images/icons/tra_icon.png" id="training" class="gs">
          <h2>Training</h2>
          <p>Git training workshop.</p>
          <a href="/training/" class="btn btn-md btn-default">Get a quote</a>
        </a>
      </div>
    </div>
  </div>

  <hr class="divider">

  <div class="other-services">
    <div class="spacer">
      <a href="#subs" class="btn btn-lg btn-default">back to top</a>
    </div>
  </div>
</div>
